[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/snipMate"]
	path = bundle/snipMate
	url = http://github.com/vim-scripts/snipMate.git
[submodule "bundle/FuzzyFinder"]
	path = bundle/FuzzyFinder
	url = http://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/L9"]
	path = bundle/L9
	url = http://github.com/vim-scripts/L9.git
[submodule "bundle/a"]
	path = bundle/a
	url = http://github.com/vim-scripts/a.vim.git
[submodule "bundle/SuperTab"]
	path = bundle/SuperTab
	url = http://github.com/vim-scripts/SuperTab-continued..git
[submodule "bundle/TheNERDTree"]
	path = bundle/TheNERDTree
	url = http://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/The-NERD-Commenter"]
	path = bundle/The-NERD-Commenter
	url = http://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/vim-scripts/surround.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = http://github.com/vim-scripts/taglist.vim.git
